.projects-wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    & img{
        width:40rem;
        height:25rem;
    }
    
    & h4{
        font-size:3rem;
        font-weight: 250;
        margin-top:2rem;
    }
}
.code{
    font-size:3rem;
    font-weight: 250;
    margin-top:10rem;
    text-align: center;

    & img{
        margin-top:3rem;
        width:5rem;
    }
}